
/***********************************************************
  Genesis Darkmatter
  A Genesis Sub-theme by AdaptiveThemes.com
************************************************************/

/**
 * Remove unused styles for performace.
 * Darkmatter unused styles have been left in place to help 
 * you learn and more easily modify this theme.
 */
 
/***********************************************************
 *                          Body
 **********************************************************/
body {
  background: #000 url(images/lightening-strike.jpg) no-repeat fixed right -100px ; /* RTL */ 
	 color: #FFFAFF;
}


/***********************************************************
 *                     The wrapper divs
 **********************************************************/
/**
 * Be careful how you modify these, see layout.css FIRST.
 */
#container {}
#columns   {}
#content   {}
#main-content {}


/***********************************************************
 *                     Width Setting
 **********************************************************/
/**
 * Over ride the default width (81.67em - see layout.css).
 * 81.67 * 12 = 980px
 *
 * Genesis supports both Fluid and Fixed width values.
 *
 * For a Liquid layout use precentages, e.g
 * .width {width: 100%;}
 *
 * For Fixed width theme, use ems or pixels, e.g
 * .width {width: 980px;}
 * .width {width: 81.67em;}
 * 
 */
.width {width: 80em;}


/***********************************************************
 *                       Regions
 **********************************************************/
#leaderboard       {padding: 0.75em;}
#header-blocks     {}

#sidebar-left      {}
#sidebar-right     {}

#secondary-content {}
#tertiary-content  {}

#content-top       {}
#content-bottom    {}

#footer            {}


/***********************************************************
 *                   The INNER divs
 **********************************************************/
/**
 * In most instances you'll use these to set padding for 
 * the containing element.
 *
 * NOTE: You can over-ride the default .inner for nodes, blocks,
 * and comments using .node-inner, .block-inner & .comment-inner 
 * which are listed in their relevant section of this stylesheet.
 */
.inner         {padding: 0 0.375em;}
#content-inner {padding: 0 0.375em;}

.nav-inner {}
.primary-inner {}
.secondary-inner {}

.header-blocks-inner {}

#sidebar-left .inner  {}
#sidebar-right .inner {}

#secondary-content .inner {}
#tertiary-content .inner  {}


/***********************************************************
 *                 Default Link Styles
 **********************************************************/
a:link,
a:visited {color: #C0A6CD;}
a:hover,
a:focus, 
a:active  {color: #9F68BA; text-decoration: underline;}

li a.active {
  color: #9F68BA; text-decoration: underline;
}
/***********************************************************
 *                    HTML elements 
 **********************************************************/
/** 
 * Add any html elements you require. Use base.css as a guide.
 */
h1#page-title {margin: 0 0 0.625em;}
h1,
h2,
h2 a,
h3,
h3 a {color: #9F68BA;}
p          {}
blockquote {}

/* additive - base.css?x (line 186)*/
textarea, input {
  background: #f7f7f7;
}


/***********************************************************
 *                       Header 
 **********************************************************/
/**
 * Branding, Logo, Site name & Slogan
 */
#header        {}
#header .inner {padding: 0 0.375em;}
#branding      {
  width: 400px; 
		float: left; /* RTL */ 
		margin-bottom: 0.7em;
}
#logo          {
  float: left; /* RTL */ 
		margin: 2px 0 0 2px; /* RTL */ 
}
#site-name     {
  float: left; /* RTL */ 
		font-size: 2.6em;
}

h1#site-name,
div#site-name  {
  margin: 10px 10px 0 7px; /* RTL */ 
  font-size: 2em ;
		line-height: 1.5;
		font-weight: bold;
}

#site-name a   {font-weight: bold; color: #9F68BA; }
#site-slogan   {
  float: left; /* RTL */ 
		margin: 1.7em 0 0;
}


/***********************************************************
 *               Search box (not the block)
 **********************************************************/
#search .form-submit  {}
#search-box-top       {float: right; margin: 1em 0 0 0;}
#search-box-inner     {}
#search-box-inner #edit-search-theme-form-1 {
  width: 19.5em; 
 	background: transparent url(images/block-bg.png) no-repeat top left; 
	 border: 1px solid #444;
}
#search-box-inner #edit-search-theme-form-1:hover,
#search-box-inner #edit-search-theme-form-1:focus {background: #FFF;}
#search-box-top label {display: none;}
	 
	 
/***********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
 * A basic implimentation of Primary and Secondary Links.
 * This is included as a starter and should be modfied for
 * your site.
 */

/**
 * #nav is the containing div for Prmiary & Secondary Links 
 */
#nav       {clear: both;}
#nav-inner {}

/**
 * Primary Links Positioning
 *
 * Default is aligned left - uncomment either of these
 * to set the primary links Right or Center.
 */
/* Align Right */
/*
#primary .primary-inner {float: right;}
*/
/* Align Center */
/*
#primary .primary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
 * Primary Links Style
 */
#primary { 
  margin-bottom: 1em;
  padding: 0;
  background: transparent;
}

.primary-inner {}

#primary ul.links {
  margin: 0 0 0 0.375em;
}

#primary ul.links li {
  margin: 0; 
  padding: 0;
}

/**
 * First & Last classes can be styled seperately, usefull when
 * adding a delimiter with CSS (border-right etc).
 */
#primary ul.links li.first {}
#primary ul.links li.last {}

#primary ul.links li a {
  text-decoration: none;
  font-weight: bold;
	 padding: 0.75em;
	 display: inline-block;
  border: 0.1875em solid #404040;
  margin: 0 0.375em;
	 color: #9F68BA;
	 white-space: nowrap; /* prevent Opera wrapping the last item when the menu is centered. */
}
#primary ul.links li a:hover,
#primary ul.links li a.active {
  background: #333 url(images/primary_tile.png) repeat-x left bottom;
	 color: #FFF;
  border: 0.1875emsolid #444;
}

/**
 * Secondary Links Positioning
 *
 * Default is aligned left - uncomment either of these
 * to set the secondary links Right or Center.
 */
/* Align Right */
/*
#secondary .secondary-inner {float: right;}
*/
/* Align Center */
/*
#secondary .secondary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
 * Secondary Links Style
 */
#secondary {
  height: 2em;
	 padding: 0;
	 background: transparent;
	 margin-bottom: 1.5em;
}

.secondary-inner {}

#secondary ul.links,
#secondary ul.links li {
  margin: 0; 
	 padding: 0.375em 0 0 0;
}

/**
 * First & Last classes can be styled seperately, usefull when
 * adding a delimiter with CSS (border-right etc).
 */
#secondary ul.links li.first {}
#secondary ul.links li.last {}

#secondary ul.links li a:link,
#secondary ul.links li a:visited,
#secondary ul.links li a:active {
  font-weight: bold;
  text-decoration: none;
  padding: 0 1em;
	 color: #666;
	 display: inline-block;
	 white-space: nowrap; /* prevent Opera wrapping the last item when the menu is centered. */
}

#secondary ul.links li a:hover {
  text-decoration: underline;
	 color: #999;
}


/***********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
 * Genesis places the breadcrumb directly below the header, 
 * giving it the full width of theme to expand in to.
 */
#breadcrumb {
  margin: 0;
	display: none;
}
.breadcrumb {
  margin: 0 0.42em 0 0.7em;
  padding-bottom: 0.3em;
}


/***********************************************************
 *                       Mission
 **********************************************************/
#mission {
  background: transparent;
	 color: #FFF;
	 font-weight: bold;
	 margin-bottom: 0.7em;
	 padding: 0.35em;
	 border: none;
}


/***********************************************************
 *                        Nodes
 **********************************************************/
/** 
 * Implimentation of node styles.
 */
.node {
  margin: 0 0 0.75em 0; 
	 padding: 0 0 1.5em 0;
}

/** 
 * Over-ride default .inner styles.
 */
div.node-inner {}

.node h2 {
  font: bold 1.42em Arial, Helvetica, sans-serif; 
	 margin-bottom: 0;
}

.node h2 a:link,
.node h2 a:visited,
.node h2 a:active {
  text-decoration: none;
}

.node h2 a:hover {
  text-decoration: underline;
}

.node div.picture {
  float: left;
  margin: 0.3em 0.5em 0.1em 0;
}

.node div.submitted {
	 color: #888;
}

.node ul.links {
  text-align: right;
  display: block; 
  font-size: 0.95em;
}

/**
 * Theme the Node Teaser seperatly
 */
.node-teaser {
  margin: 0 0 0.7em 0;
  padding: 0 0 1.417em 0;
}

.node-teaser .node-inner {}

/**
 * Colorize unpublised nodes for admins
 */
.node-unpublished {
  background-color: #FFF4F4; 
	 padding: 0.2em;
}

.node div.unpublished {
  font: bold 3em Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFE9E7;
  padding: 0.3em;
}

/**
 * Theme Sticky nodes 
 */
.sticky {}

/**
 * Theme node types 
 * Use these to get started theming specific node types.
 */
.node-type-blog  {}
.node-type-page  {}
.node-type-story {}
.node-type-forum {}
.node-type-book  {} 
 
/**
 * Theme nodes that belong to the author 
 */
.node-mine {}

/* Form elememnts in nodes. e.g Polls */
.node label {color: white!important;}


/***********************************************************
 *                       Blocks
 **********************************************************/
/** 
 * Implimentation of block styles.
 * Styles set here will be inherited by all blocks.
 */
.block {
  padding: 0.375em;
  margin: 0 0 0.5em;
  clear: both;
	 background: transparent url(images/block-bg.png) no-repeat right top;
	 border: 0.1875em solid #404040;
}

/** 
 * Over-ride default .inner styles.
 */
div.block-inner {}

.block h2 {
  font-size: 1.2em;
	 font-weight: bold;
}

.block .content {
  padding: 0 0.375em;
}

.block ul li,
.block ul.menu li {
		list-style: square;
		color: #585858;
}

tr .block {
  border: none; /* blocks page table */
}

/**
 * Style an Individual Block
 * If you need to modify the styles for a particular block, 
 * use the blocks ID, for example;
 * 
 * #block-block-1 {}
 */

/**
 * Region Specific block styles
 * You can target blocks in one or more regions and 
 * style them differently. 
 *
 * Use the first two examples as guide for all regions. 
 */
#sidebar-left .block {}
#sidebar-left .block h2 {}
#sidebar-left .block-inner {}
#sidebar-left .block .block-content {}

#sidebar-right .block {}
#sidebar-right .block h2 {}
#sidebar-right .block-inner {}
#sidebar-right .block .block-content {}

#leaderboard .block       {}
#header-blocks .block     {}
#secondary-content .block {}
#tertiary-content .block  {}
#content-top .block       {}
#content-bottom .block    {}
#footer .block            {}

/**
 * Block Odd & Even Styles (Zebra)
 * Each region can have alternating styles for Odd and Even 
 * count blocks, such as;
 */
#sidebar-left .odd   {}
#sidebar-left .even  {}

#sidebar-right .odd  {}
#sidebar-right .even {}

/**
 * Alternative Approach to Region Block Styling.
 * Blocks are aware of what region they are in, so its
 * possible to use chained selectors such as;
 *
 * .block.odd.right {}
 */

/**
 * Drupal Core blocks 
 * This is most of the core blocks as far as I can remember, 
 * please post an issue if I have missed any :)
 */
#block-system-0  {} /* Powered by Drupal block */
 
#block-user-0    {} /* Login block */
#block-user-1    {} /* Navigation Menu block */
#block-user-2    {} /* Who's New block */
#block-user-3    {} /* Who's Online block */

#block-comment-0 {} /* Recent Comments block */

#block-search-0  {} /* Search form block */

#block-forum-0   {} /* Active Forum topics */
#block-forum-1   {} /* New Forum topics */

#block-blog-0    {} /* Recent Blog posts */

#block-node-0    {} /* Syndicate block */

#block-locale-0  {} /* Language Switcher block */

/* The class selector applies to all blocks of these types */
.block-book {} 
.block-aggregator {}


/***********************************************************
 *                     Comments
 **********************************************************/
/** 
 * Implimentation of comment styles.
 */
div.comment {
  padding: 0.35em; 
	 margin: 0 0 0.7em 0;
}

/** 
 * Over-ride default .inner styles.
 */
div.comment-inner {}

div.indented {
  margin-left: 2em; /* RTL */
}

div.comment h3.comment-title {
  font: bold 1.4em Arial, Helvetica, sans-serif; 
	 margin-bottom: 0.1em;
}

h3#comment-number {
  margin-top: 1em;
}

div.comment h3.title a:link,
div.comment h3.title a:visited,
div.comment h3.title a:active {
  text-decoration: none;
}

div.comment h3.title a:hover {
  text-decoration: underline;
}

div.comment .picture {
  float: right; /* RTL */
	 margin: 0.3em 0 0.1em 0.3em; /* RTL */
}

div.comment .picture img {
	padding: 0;
}

div.comment .submitted {
  font-size: 0.9em; 
 	margin: 0.17em 0;
	 color: #888;
}

/* Comment content wrapper. */
div.comment .comment-content {}

div.comment .links {
  font-size: 0.95em; 
	 text-align: right; 
	 clear: both;
}

/* Zebra styles for comments */
div.comment.odd {
  background: #333; 
  border: 2px solid #404040;
}

div.comment.even {
  background: #222; 
  border: 2px solid #404040;
}

/* Style comments depending on the comment author */
div.comment.comment-by-author {}
div.comment.comment-by-anon   {}
div.comment.comment-mine      {}


/***********************************************************
 *                     Forum
 **********************************************************/
#forum table {}
#forum tr td.forum {}
#forum div.indent  {}


/***********************************************************
 *                     Books
 **********************************************************/
/** 
 * Implimentation of book navigation styles.
 */
.book-navigation {background: #333;}
.book-navigation ul {}
.book-navigation ul li {}
.book-navigation ul li a {}
.book-navigation .page-links {background: #3B3B3B;}
.book-navigation .page-links a {}
.book-navigation .page-links a.page-up {}
.book-navigation .page-links a.page-next {}
.book-navigation .page-links a.page-previous {}


/***********************************************************
 *                    Polls
 **********************************************************/
.poll .bar {background: #555;} /*poll bar background */
.poll .bar .foreground {background: #9F68BA;}


/***********************************************************
 *                      Box
 **********************************************************/
/* Search form on the results page, includes advanced search*/
.section-search .box {}
.section-search .box-inner {}
.section-search .box h2.box-title    {}

/* Comment form on a seperate page */
.section-comment .box {}
.section-comment .box-inner {}
.section-comment .box h2.box-title    {}

/* Comment form below content */
#comments .box {}
#comments .box-inner {}
#comments .box h2.box-title    {}

/* Generic box selectors */
.box {}
.box-inner {}
.box h2.box-title {}
.box .box-content {}
.box form         {}
.box .form-item   {}
.box fieldset     {}


/***********************************************************
 *               Footer, Footer Message
 **********************************************************/
/** 
 * Basic styles for the footer.
 */
#foot-wrapper { 
  text-align: center;
	margin: 0.25em 0;
	padding: 0.375em;
}

#footer a, 
#footer-message a {
  padding: 0.42em;
}

/* Attribution link */
p.attribution {margin: 0.2em 0; font-size: 0.9em;}
#footer-message p.attribution a {color: #585858}
#footer-message p.attribution a:hover {color: #828282}


/***********************************************************
 *                     Pager 
 **********************************************************/
.item-list ul.pager                   {}
.item-list ul.pager li                {}
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  {}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}

.item-list ul.pager li a:link    {}
.item-list ul.pager li a:visited {}
.item-list ul.pager li a:hover   {}
.item-list ul.pager li a:active  {}
.item-list ul.pager li a.active  {}


/***********************************************************
 *                 RSS Feed Icon
 **********************************************************/
#feed-icon {
  float: right; /* RTL */
		margin: 1em 0.375em 0 0; /* RTL */
}
#feed-icon img {}
#feed-icon a.feed-icon {}


/***********************************************************
 *                    Tables
 **********************************************************/
/** 
 * The selector groupings are from Garland which offers a
 * sensible starting point for styling Drupal tables.
 * Firebug will help determine how to use these.
 */
table        {}
table a      {color: #886D9A;}
thead th     {border-bottom: 2px solid #513F69; color: #494949; color: #CCC;}
th a:link, 
th a:visited {color: #886D9A;}
td, th       {}
tr.even,
tr.odd,
tbody th     {border: solid #513F69; border-width: 1px 0;}
tr.odd, 
tr.info      {background-color: #333;}
tr.even      {background-color: #000;}
tr.drag          {background-color: #fffff0;}
tr.drag-previous {background-color: #F3DFF8;}
tr.odd td.active  {background-color: #555;}
tr.even td.active {background-color: #444;}
td.region, td.module, td.container td.category {
  border-top: 1.5em solid #444;
  border-bottom: 1px solid #886D9A;
  background-color: #333;
  color: #FFF;
}
tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {}

table.system-status-report th {
  border-bottom:1px solid #513F69;
}


/***********************************************************
 *                   Form elements
 **********************************************************/
/**
 * Theming form elements can be an exercise in self-flagellation.
 * Lets let base.css & Drupal do the hard work and just set very 
 * basic over-rides.
 */
fieldset {
  width: 90%;
}
 
fieldset legend {
  padding-right: 0.42em;
}

html.js fieldset.collapsible legend a {
  color: #9F68BA;
  background: url(images/arrow-down.gif) no-repeat 0% 50%;
}

html.js fieldset.collapsed legend a {
  color: #9F68BA;
  background: url(images/arrow-right.gif) no-repeat 0% 50%;
}

.tips {}


/***********************************************************
 *                    Messages
 **********************************************************/
/**
 * Drupal + base.css do a pretty good job of this already, but
 * you can over-ride all of it. See the Genesis Darkmatter theme
 * as an exmaple. 
 */
/*div.messages.success {
  color: #55872E;
  background: #F1F8EB;
  border: 1px solid #7AC142; 
}

.status {
  background: #264409;
  color: #E6EFC2;
	border: 1px solid #E6EFC2; 
}

.error { 
  color: #8a1f11;
  background: #FBE3E4;
}

div.error {
  border: 1px solid #8a1f11; 
}

.notice { 
  color: #514721; 
  background: #FFF6BF; 
  border-color: #FFD324; 
}

div.help {
  background: #666;
  border: 1px solid #444;
}

.help ul li {color: #FFF;}

.warning {
  color: #FFF;
}

div.warning, tr.warning {
  background: #990000;
  color: #FFF;
  padding: 0.17em;
}

div.warning {
  border: 2px solid #FFF;
}

div.error, tr.error, span.form-required, span.marker {
  color: #9F68BA;
}

.ok {
  color: #008000;
}

div.ok {
  border: 1px solid #00aa00;
}

div.ok, tr.ok {
  background: #dfd;
  color: #020;
  padding: 2px;
}*/

/**
	* Override Drupal + messages.css to support the dark theme.
	*/
div.messages,
div.help {}

div.messages         {font-weight: bold; margin-bottom: 1.5em; padding: 0.75em;}
div.messages.success {color: #55872E; background: #F1F8EB; border: 3px solid #7AC142;}
div.messages ul      {margin: 0 0 0 2em;}

div.status {color: #264409; background: #E6EFC2; border: 3px solid #C6D880;}
div.error  {color: #8A1F11; background: #FFCCCC; border: 3px solid #DD7777;}
div.notice {color: #514721; background: #FFF6BF; border: 3px solid #FFD324;}

.error, .notice, .status {margin-bottom: 1em; padding: 0.75em;}

div.error a    {color: #8a1f11; text-decoration: underline;}
div.notice a   {color: #514721; text-decoration: underline;}
div.success a  {color: #264409; text-decoration: underline;}

div.help {background: #FFC;margin-bottom: 1.5em;padding: 0.75em; border: 3px solid #FEDE01; color: #222;}
div.help em {font-weight: bold;}

.ok {}
div.ok {}

div.ok, tr.ok {color: #EEE; padding: 2px;}

.system-status-report div.error, 
.system-status-report tr.error {color: yellow;}

div.warning, tr.warning {color: #FF8000;padding:2px;}

.form-item .description {color: #ACACAC}
.form-item label {color: #FFF}


/***********************************************************
 *                     Admin
 **********************************************************/
/**
 * This is really basic, you could go to town here. 
 */
/* body class to target most admin pages */
.section-admin {}

/* Module page specific styles */
div.admin-dependencies, div.admin-required {
  color:#CCC;
}

span.admin-enabled {
  color: #00FF00;
}

span.admin-disabled {
  color: #FF0000;
}

/* The yellow region notices on the block admin page*/
.block-region {
  color: #000!important;
}

/* Experimental workaround for the theme list page for narrow themes.
   When both sidebars are active, the left sidebar overlaps the theme list table,
			this forces the sidebars to be a set hight with scroll */
body.page-admin-build-themes #sidebar-left,
body.page-admin-build-themes #sidebar-right,
body.page-admin-build-themes-select #sidebar-left,
body.page-admin-build-themes-select #sidebar-right {
  height: 240px; overflow: scroll;
}

/***********************************************************
 *                   Buttons
 **********************************************************/
/** 
 * Style form submit buttons
 */
button, .pushbutton, .form-submit {
  margin-bottom: 1px;
  cursor: pointer;
  padding: 1px 5px;
  color: #666;
  font-weight: normal;
  border: solid 1px #888;
  background: #000 url(images/button.gif) repeat-x center;
}
button:hover, .pushbutton:hover, .form-submit:hover {
  color: #000;
  border: solid 1px #666;
  background: #000 url(images/button-o.gif) repeat-x center;
}


/***********************************************************
*                 Help out contrib modules
**********************************************************/
#admin-menu ul a:link,
#admin-menu ul a:visited {
  color: #FFF; 
		font-family: Geneva, Arial, Helvetica, sans-serif; 
		font-style: normal; 
		font-weight: normal;
		text-decoration: none;
}

.views-edit-view,
.views-edit-view form,
.views-edit-view label,
table.views-entry {color: #222;}

div.views-query-info {color: white;}

.views-edit-view h2 {color: yellow;}

#views-ui-edit-view-form {margin-bottom: 10px;}

form#views-ui-preview-form, 
#center form#views-ui-preview-form {
  border:1px solid #D6DBDE;
  background: white;
		margin-bottom: 2em;
}

table.views-entry {margin-top: 10px;}